.parent {
    width:100%;
    aspect-ratio: 4/5;
    perspective: 1200px;
    overflow: hidden;
    border-radius: 40px;
}

.card {
    position: relative;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(135deg,
            var(--color-cod-gray-700) 0%,
            var(--color-cod-gray-800) 100%);
    transition: all 0.6s ease-in-out;
    transform-style: preserve-3d;
    box-shadow:
        rgba(30, 30, 60, 0) 40px 50px 25px -40px,
        rgba(30, 30, 60, 0.2) 0px 25px 25px -5px;
}

.glass {
    transform-style: preserve-3d;
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    inset: 10px;
    border-radius: 50px;
    border-top-left-radius: 100%;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.7) 100%);
    transform: translate3d(0px, 0px, 30px);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.6s ease-in-out;
    overflow:hidden;
}

.content {
    padding: 20px 20px 25px 20px;
    transform: translate3d(0, 0, 31px);
    display: flex;
    width: 100%;
    height: fit-content;
    position: absolute;
    text-align: right;
    justify-self: end;
    align-items: end;
    background: #00000048;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    backdrop-filter: blur(2px);
    bottom: 0px;
    flex-direction: column;
}

.content .title {
    display: block;
    color: var(--color-cod-gray-50);
    font-weight: 900;
    font-size: 1.25vw;
}

.content .text {
    display: block;
    color: var(--color-cod-gray-50);
    font-size: .95vw;
    width: 65%;
    margin-top: 5px;
}

.bottom {
    padding: 12px 5px;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    transform: translate3d(0, 0, 31px);
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.bottom .social-buttons-container {
    display: flex;
    gap: 8px;
    transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
    width: 2vw;
    aspect-ratio: 1;
    padding: 6px;
    background: var(--color-cod-gray-200);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    box-shadow: rgba(30, 30, 60, 0.4) 0px 8px 6px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
    transition:
        transform 0.3s ease-in-out 0.3s,
        box-shadow 0.3s ease-in-out 0.3s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
    transition:
        transform 0.3s ease-in-out 0.5s,
        box-shadow 0.3s ease-in-out 0.5s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
    transition:
        transform 0.3s ease-in-out 0.7s,
        box-shadow 0.3s ease-in-out 0.7s;
}

.bottom .social-buttons-container .social-button .svg {
    width: 1.25vw;
    fill: var(--color-bay-of-many-800);
}

.bottom .social-buttons-container .social-button:hover {
    background: var(--color-bay-of-many-800);
}

.bottom .social-buttons-container .social-button:hover .svg {
    fill: #ffffff;
}

.bottom .social-buttons-container .social-button:active {
    background: var(--color-cod-gray-700);
}

.bottom .social-buttons-container .social-button:active .svg {
    fill: #3c2f80;
}

/* .parent:hover .card {
    transform: translate3d(0, 0, 50px);
    box-shadow:
        rgba(30, 30, 60, 0.3) 30px 50px 25px -40px,
        rgba(30, 30, 60, 0.15) 0px 25px 30px 0px;
} */

.parent:hover .card .bottom .social-buttons-container .social-button {
    transform: translate3d(0, 0, 60px);
    box-shadow: rgba(30, 30, 60, 0.25) 5px 20px 10px 0px;
}


@media (max-width: 768px) {
    .content .title {
        font-size: 3.5vw;
    }

    .content .text {
        font-size: 2.5vw;
        width: 80%;
    }

    .bottom .social-buttons-container .social-button {
        width: 6vw;
    }

    .bottom .social-buttons-container .social-button .svg {
        width: 3.5vw;
    }
}