/* From Uiverse.io by chase2k25 */
.parent {
    width: 295px;
    height: 365px;
    perspective: 1200px;
    
}

.card {
    position: relative;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(135deg,
            var(--color-bay-of-many-300) 0%,
            var(--color-bay-of-many-500) 100%);
    transition: all 0.6s ease-in-out;
    transform-style: preserve-3d;
    box-shadow:
        rgba(30, 30, 60, 0) 40px 50px 25px -40px,
        rgba(30, 30, 60, 0.2) 0px 25px 25px -5px;
}

.glass {
    transform-style: preserve-3d;
    position: absolute;
    inset: 10px;
    border-radius: 45px;
    border-top-left-radius: 100%;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.7) 100%);
    transform: translate3d(0px, 0px, 30px);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.6s ease-in-out;
}

.content {
    padding: 10px 20px ;
    transform: translate3d(0, 0, 31px);
    display: flex;
    position: absolute;
    text-align: right;
    justify-self: end;
    align-items: end;
    bottom: 25px;
    flex-direction: column;
}

.content .title {
    display: block;
    color: var(--color-bay-of-many-800);
    font-weight: 900;
    font-size: 22px;
}

.content .text {
    display: block;
    color: var(--color-bay-of-many-800);
    font-size: 14px;
    width: 65%;
    margin-top: 5px;
}

.bottom {
    padding: 12px 5px;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    transform: translate3d(0, 0, 31px);
}

.bottom .social-buttons-container {
    display: flex;
    gap: 8px;
    transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
    width: 32px;
    aspect-ratio: 1;
    padding: 6px;
    background: var(--color-bay-of-many-200);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    box-shadow: rgba(30, 30, 60, 0.4) 0px 8px 6px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
    transition:
        transform 0.3s ease-in-out 0.3s,
        box-shadow 0.3s ease-in-out 0.3s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
    transition:
        transform 0.3s ease-in-out 0.5s,
        box-shadow 0.3s ease-in-out 0.5s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
    transition:
        transform 0.3s ease-in-out 0.7s,
        box-shadow 0.3s ease-in-out 0.7s;
}

.bottom .social-buttons-container .social-button .svg {
    width: 16px;
    fill: var(--color-bay-of-many-800);
}

.bottom .social-buttons-container .social-button:hover {
    background: var(--color-bay-of-many-800);
}

.bottom .social-buttons-container .social-button:hover .svg {
    fill: #ffffff;
}

.bottom .social-buttons-container .social-button:active {
    background: var(--color-bay-of-many-300);
}

.bottom .social-buttons-container .social-button:active .svg {
    fill: #3c2f80;
}

.parent:hover .card {
    transform: translate3d(0, 0, 50px);
    box-shadow:
        rgba(30, 30, 60, 0.3) 30px 50px 25px -40px,
        rgba(30, 30, 60, 0.15) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
    transform: translate3d(0, 0, 60px);
    box-shadow: rgba(30, 30, 60, 0.25) 5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
    transform: translate3d(0, 0, 65px);
}

.parent:hover .card .logo .circle3 {
    transform: translate3d(0, 0, 85px);
}

.parent:hover .card .logo .circle4 {
    transform: translate3d(0, 0, 105px);
}

.parent:hover .card .logo .circle5 {
    transform: translate3d(0, 0, 125px);
}