@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import "tailwindcss";
/*  */

@theme {
	--font-anta: "Anta", sans-serif;
	/* primary */
	--color-cod-gray-50: #f6f6f6;
	--color-cod-gray-100: #e7e7e7;
	--color-cod-gray-200: #d1d1d1;
	--color-cod-gray-300: #b0b0b0;
	--color-cod-gray-400: #888888;
	--color-cod-gray-500: #6d6d6d;
	--color-cod-gray-600: #5d5d5d;
	--color-cod-gray-700: #4f4f4f;
	--color-cod-gray-800: #454545;
	--color-cod-gray-900: #3d3d3d;
	--color-cod-gray-950: #121212;

}

/* =========================
  Base Styles
========================= */
@layer base {
	body {
		font-family: var(--font-anta);
		background-color: var(--secondary);
		color: var(--primary);
		width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-anta);
	}

	a {
		color: var(--primary);
	}
}

@theme inline {
	--animate-shiny-text: shiny-text 8s infinite;

	@keyframes shiny-text {

		0%,
		90%,
		100% {
			background-position: calc(-100% - var(--shiny-width)) 0;
		}

		30%,
		60% {
			background-position: calc(100% + var(--shiny-width)) 0;
		}
	}

	--animate-marquee: marquee var(--duration) infinite linear;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

	@keyframes marquee {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	@keyframes marquee-vertical {
		from {
			transform: translateY(0);
		}

		to {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}

	/* --animate-line-shadow: line-shadow 15s linear infinite;

	@keyframes line-shadow {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: 100% -100%;
		}
	} */
}